<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
    <key>NSContactsUsageDescription</key>
    <string>OpenLine verifies if people are in your contacts to help ensure friend requests are from people you know.</string>
</dict>
</plist>
